GnuPGInterface==0.3.2
Mako==0.7.3
MarkupSafe==0.15
MySQL-python==1.2.3
PAM==0.4.2
Pillow==2.0.0
Powerline==beta
PyYAML==3.10
Pygments==1.6
SQLAlchemy==0.8.3
Twisted-Core==12.3.0
Twisted-Names==12.3.0
Twisted-Web==12.3.0
UniConvertor==1.1.4
adium-theme-ubuntu==0.3.3
apt-xapian-index==0.45
argparse==1.2.1
autoenv==1.0.0
autopep8==0.8.7
bpython==0.11
ccsm==0.9.9.0
chardet==2.0.1
compizconfig-python==0.9.9.0
configglue==1.0
coverage==3.6
cssselect==0.9.1
debtagshw==0.1
defer==1.0.6
dirspec==4.2.0
distribute==0.6.34
duplicity==0.6.21
epydoc==3.0.1
httplib2==0.7.7
ipython==1.1.0
jockey==0.9.7
lxml==3.1.0
mysql-connector-python==0.3.2-devel
mysql-utilities==1.0.3
nose==1.2.1
numpy==1.7.1
oauth==1.0.1
oauthlib==0.3.7
oneconf==0.3.3
openpyxl==1.8.0
paramiko==1.7.7.1
pep8==1.4.5
pexpect==2.4
piston-mini-client==0.7.5
protobuf==2.4.1
psycopg2==2.4.5
pudb==2013.3.6
py==1.4.12
pyOpenSSL==0.13
pycrypto==2.6
pycups==1.9.62
pycurl==7.19.0
pygame==1.9.1release
pygobject==3.8.0
pyinotify==0.9.3
pyquery==1.2.6
pyserial==2.6
pysmbc==1.0.13
pysqlite==2.6.3
pytest==2.3.2
pytest-sugar==0.2.2
python-apt==0.8.8ubuntu6
python-dateutil==2.2
python-debian==0.1.21-nmu2ubuntu1
pyudev==0.16.1
pyxdg==0.25
reportlab==2.6
requests==2.0.1
rhythmbox-ubuntuone==4.2.0
screen-resolution-extra==0.0.0
sessioninstaller==0.0.0
simplejson==2.6.2
six==1.2.0
software-center-aptd-plugins==0.0.0
stevedore==0.8
synaptiks==0.8.1
system-service==0.1.6
ubuntuone-couch==0.3.0
ubuntuone-storage-protocol==4.2.0
unity-lens-photos==0.9
urwid==1.1.1
validate-email==1.1
virtualenv==1.9.1
virtualenv-clone==0.2.4
virtualenvwrapper==3.7
wsgiref==0.1.2
xdiagnose==3.5.1
xkit==0.0.0
zope.interface==4.0.5
